
body {
   padding-top: 0;
   margin-top: 0;
   border-top: 0;
   padding-left: 00px;
   padding-right: 00px;
}

#logo-box {
   width: 200px;
   height: 200px;
}

ul {
   padding: 0px;
   margin-top: 0;
   padding: 2em;
   list-style-type: none;
   background-color: lightblue;
}

#links {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#links a {
   display: flex;
   font-size: 1.25em;
   align-items: center;
}

#links a:visited {
   color: seagreen;
}

footer {
   width: 100%;
}
footer a {
   text-decoration: none;
}

h2 a {
   text-decoration-line: none;
}