
body {
   padding-left: 8%;
   padding-right: 8%;
}

#logo-box {
   width: 200px;
   height: 200px;
}

ul {
   padding: 40px;
   padding-top: 0;
   list-style-type: none;
   background-color: lightblue;
}

#links {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#links a {
   display: flex;
   font-size: 1.25em;
   align-items: center;
}

#links a:visited {
   color: seagreen;
}
