/* This is the stylesheet for the Weather Site */

/*  Table of Contents
    1. Imports
    2. General Rules
    3. Mobile First Rules
    4. Larger Screen Rules
*/

/* Section 1: Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2: General Rules */
html {
    box-sizing: border-box;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, Eurostyle, sans-serif;    
}

#page-header {
    background-color: #0E89D5;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#logo {
    max-width: 60px;
    max-height: 60px;
    display: flex;
}

#site-brand {
    font-size: 2.3em;
    margin: 0 auto 0 10px;
    display: flex;
    font-weight: 600;
    position: relative;
}

a:link a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

a:hover a:active {
    background-color: #0E8900;
}

#navforpage {
    display: flex;    
    justify-content: space-around;
    background-color: #0E89D5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#navforpage a {
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
}

#heading h1 {
    font-size: 3em;
    margin: 1.5px 0 0 auto;
}

#heading p {
    margin: 2px 0 0 auto;

}

#content {
    background-image: url("../images/rain.jpg");
}

.tile {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;   
}

#temp #deg {
    font-size: 50px;
}

#high-temp {
    color: red;
}

#low-temp {
    color: blue;
}

#summary img {
    max-width: 300px;
    width: 70%;
}

#copyright {
    background-color: #0E89D5;
}

footer {
    margin-bottom: 2em;
}



/* Section 3: Moblie First Rules */
#windphoto {
    position: relative;
}

#mph {
  position: absolute;
  top: 84%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
}


/* Section 4: Larger Screen Rules */
@media screen (min-width: 700px) {
    #windphoto {
        position: relative;
    }
    
    #mph {
      position: absolute;
      top: 141.5%;
      left: 50%;
      font-size: 30px;
      transform: translate(-50%, -50%);
    }
} 