/* This is the stylesheet for the Weather Site */

/*  Table of Contents
    1. Imports
    2. General Rules
    3. Mobile First Rules
    4. Larger Screen Rules
*/

/* Section 1: Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2: General Rules */
header {
    background-color: #0E89D5;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: Sansita, sans-serif;
    display: inline-block;
    border: 0;
    margin: 0;
    text-align: left;
    
}

#heading h2 {
    display: flex;
    justify-content: flex-start;
    padding: 25px;
}

#heading p {
    display: flex;
    font-size: .5em;
}
h2 {
    font-family: Sansita, sans-serif;
    display: inline-block;
    border: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

body {
    font-size: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
}

#logo {
    float: left;
    max-width: 35px;
    max-height: 40px;
}
   
#site-brand {
    font-size: 1.5em;
    border: 0;
    margin: 0;
    margin-left: 15px;
    display: inline;
    font-weight: 600;
    vertical-align: text-top;
   }

#mph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
    background-color: #0E89D5;
    position: fixed;
    bottom: 0;
    border: 3px;
}

nav>ul {
    border: 20px;
}

#summary img {
    max-width: 100%;
}

#page-header {
    display: flex;
}

footer {
    border: 5px;
    padding: 2px;
    background-color: #0E89D5;
}

/* Section 3: Moblie First Rules */

/* Section 4: Larger Screen Rules */
@media screen (min-width: 700px) {

}