/* This is the stylesheet for the Weather Site */

/*  Table of Contents
    1. Imports
    2. General Rules
    3. Mobile First Rules
    4. Larger Screen Rules
*/

/* Section 1: Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2: General Rules */
header{
    background-color: #0E89D5;
}

h1, h2, h3, h4, h5, h6{
    font-family: Sansita, sans-serif;
}

body{
    font-size: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
}

/* Section 3: Moblie First Rules */

/* Section 4: Larger Screen Rules */