@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('normalize.css');

body {
  background-color: #93AFC4;
  font-family: Asap, "Arial Black", sans-serif;  
}

header a {
  color: #3B3337;
}
main {
  background-color: #C1CFAB;
}

header {
  display: grid;
  grid-template-columns: 20% 10% 10% 15% 30% 20%;
  grid-template-rows: 70px;
}

#home {
  display:grid;
  grid-column: 2/3;
  align-self: center;
}

#rivers {
  display:grid;
  grid-column: 3/4;
  align-self: center;
}

#contact {
  display: grid;
  grid-column: 4/5;
  align-self: center;
}

header img {
  display: grid;
  height: 100%;
}

nav {
  display: grid;
  grid-column: 3/4;
  align-self: center;
}

nav ul {
  list-style-type: none;
}
#content {
   max-width: 960px;
   margin: 0px auto;
}

#banner {
  width: 100%;
  padding: 0em;
}

h1, h2, h3, h4, h5, h6 {
    background-color: #3B3337;
    color: #C1CAFB;
    font-family: Lora, "Arial Black", sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding: 10px;
    border: 0;
} 

.home-paragraph-3 {
  text-align: center;
}

p {
  padding: .5em;
  font-size: 20px;
}

.banner-box img {
   width: 100%; 
}

.home-grid {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 30% 20% 5% 30% 15%;
  grid-template-rows: 150px 350px 150px 350px 150px;
}

.home-headline-1 {
  display: grid;
  grid-column: 1/6;
  align-self: center;
}

.home-headline-2 {
  display: grid;
  grid-column: 1/6;
  align-self: center;
}

.home-headline-3 {
  display: grid;
  grid-column: 1/6;
  align-self: center;
}


.home-paragraph-1 {
  display: grid;
  grid-column: 1/2;
}

.home-paragraph-2 {
  display: grid;
  grid-column: 4/5;
}

.home-paragraph-3 {
  display: grid;
  grid-column: 1/5;
}

#logo-box {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
}

.relax-img {
  display: flex;
  height: 100%;
}

.rush-img {
  display: flex;
  height: 100%;
  grid-column: 1/2;
}