
@media screen AND (max-width: 1300px) {

   #home-text {
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
      justify-content: flex-end;
   }
   
   #home-recipes {
      display: flex;
      width: 500px;
      flex-wrap: wrap;
      align-content: flex-start;
      padding-left: 1em;
   }
   
   #home-recipes h2 {
      width: 100%;
   }
   
   #home-recipes div img {
      width: 90px;
      display: flex;
      align-self: center;
   }
   
   #home-recipes div {
      display: flex;
      flex-direction: column;
      background-color: #808080;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
      border-right: 20px;
      border-width: 20px;
      border-style: solid;
      border-color: white;
   }
   
   
   #home-recipes div p {
      display: flex;
      text-align: center;
      background-color: white;
      font-size: .5em;
      margin-bottom: 0px;
      padding-bottom: 10px;
      border-bottom: 0;
   }
   
   .recipe-item p {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-self: center;
      width: 200px;
   }
   
   #home-rocket-div {
      background-image: URL("/acme/images/site/feature.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
      display: flex;
      flex-direction: row-reverse;
   }
   
   #home-rocket-ad {
      padding: .5em .5em .5em .5em;
      font-size: 20px;
      color: #DE2226;
      background: rgba(255, 255, 255, .3);
      height: 500px;
      width: 300px;
   }
   
   #home-rocket-ad h2 {
      margin: 0;
      opacity: 1;
   }

}

html {
   background-image: url("/acme/images/site/background.jpg");
   background-repeat: no-repeat;
   height: 100%;
   background-size: cover;
}

.hide {
   display: none;
}

h1 {
   padding-top: 0;
   margin-top: 0;
}

body {
   padding-right: 20px;
   margin-left: 20px;
   background-color: #FFFFFF;
}

footer {
   padding-bottom: 20px;
   text-align: center;
}

#basic-home {
   display: flex;
   flex-direction: row;
   width: 100%;
   flex-wrap: nowrap;
   padding-left: 2em;
   padding-right: 2em;
}


#basic-flex {
   padding-left: 2em;
}

#basic-info-1 {
   margin-bottom: 0;
}

#basic-paragraph {
   display: flex;
   flex-wrap: wrap;
   padding-right: 2em;
}

#basic-info-2 {
   margin-top: 0;
}

h3 {
   color: red;
   font-size: 35px;  
}

#home-text {
   display: flex;
   flex-direction: row-reverse;
   font-size: 1.5em;
   justify-content: flex-end;
}

#home-recipes {
   display: flex;
   width: 40%;
   flex-wrap: wrap;
   align-content: flex-start;
   padding-left: 1em;
}

#home-recipes h2 {
   width: 400px;
}

#home-recipes div img {
   width: 90px;
   display: flex;
   align-self: center;
}

#home-recipes div {
   display: flex;
   flex-direction: column;
   background-color: #808080;
   margin-bottom: 0;
   padding-bottom: 0;
   border-bottom: 0;
   border-right: 20px;
   border-width: 20px;
   border-style: solid;
   border-color: white;
}


#home-recipes div p {
   display: flex;
   text-align: center;
   background-color: white;
   font-size: .75em;
   margin-bottom: 0px;
   padding-bottom: 10px;
   border-bottom: 0;
   color: #0000EE;
   text-decoration: underline;
}

#home-recipes div p:hover {
   cursor: pointer;
}

.recipe-item p {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-self: center;
   width: 200px;
}

#home-rocket-div {
   background-image: URL("/acme/images/site/feature.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 600px;
   display: flex;
   flex-direction: row-reverse;
}

#home-rocket-ad {
   padding: .5em .5em .5em .5em;
   font-size: 40px;
   color: #DE2226;
}

#home-rocket-ad h2 {
   margin: 0;
}


button {
   padding-top: 10px;
   border: none;
   background-color: transparent;
   color: #FFFFFF;
   font-family: serif;
   font-size: 1.5em;
}

button:hover {
  cursor: pointer;
}

#content {
   background-color: white;
}

nav ul li {
   list-style-type: none;
   display: flex;
   text-align: center;
}

nav ul {
   margin: 0;
   padding: 0;
   width: 600px;
   display: flex;
   justify-items: space-between;
   text-align: center;

}

nav {
   height: 45px;
   background-color: #DE2226;
   text-align: center;
}

a:link {
   display: flex;
   text-align: center;
   color: #FFFFFF;
   text-decoration: none;
   font-size: 1.5em;
   padding: 10px 10px;
}

a:hover {
   display: flex;
   text-align: center;
   color: #FFFFFF;
   text-decoration: none;
   font-size: 1.5em;
   padding: 10px 10px;
}

a:visited {
   display: flex;
   text-align: center;
   color: #FFFFFF;
   text-decoration: none;
   font-size: 1.5em; 
   padding: 10px 10px;
}

hr {
   height: 3px;
   background-color: black;
   color: black;
   border-color: black;
}


